# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Buffet.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\saulo\Documents\Dependências Terceiro Periodo\PROGRAMAÇÃO WINDOWS AVANÇADA\buffet-pwa-master\Buffet\.idea\.idea.Buffet.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
