@using Buffet.ViewModels.Home
@model Buffet.ViewModels.Home.ClientesViewModel

@{
    ViewData["Title"] = "Clientes";
}
<h1>Clientes</h1>

<p>Listagem de clientes</p>

<ul>
    @foreach (Cliente cliente in Model.Clientes)
    {
        <li>
            @cliente.Nome Possui @cliente.Idade anos de idade.
            @if (cliente.Idade < 45)
            {
                <span>Menor que 45 anos</span>
            }
        </li>
    }
</ul>

